[user]
	name = Kevin McPhillips
	email = github@kevinmcphillips.ca
[alias]
        co = checkout
        st = status
[push]
        default = simple
        autoSetupRemote = true
[branch]
	sort = -committerdate
